.content {
  display: flex;
}

.page {
  background-color: rgb(227, 230, 230);
  font-family: sans-serif;
}

h2 {
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-around; /* Adjust as needed */
}

.f1 {
  background-color: white;
  flex: 0 1 30%; /* You can adjust the width as needed */
  padding: 20px;
  border: 1px solid #ccc;
  margin: 12px;
  box-sizing: border-box;
  border-radius: 20px;
}
p{
  color: rgb(126, 132, 132);
}

.sbody {
  color: rgb(126, 132, 132);
}

.table {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 8px;
  text-align: left;
}

th {
  background-color: rgb(227, 230, 230);
  text-align: center;
}

td {
  background-color: white;
  color: rgb(126, 132, 132);
}

.fulltable {
  background-color: white;
  flex: 1;
  padding: 20px;
  border: 1px solid rgb(227, 230, 230);
  margin: 12px;
  box-sizing: border-box;
  border-radius: 20px;
}
